@model Page
@{
    ViewData["Title"] = "Edit Page";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Pages</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.Id">@Model.Subject</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Page">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<div class="input-group mb-3">
    <span id="status" class="input-group-text text-success"><i class="bi bi-check-circle-fill"></i></span>
    <input asp-for="Subject" class="form-control">
    @if (Model.IsRegular)
    {
        <span class="input-group-text @(Model.IsPinned? "text-success" : "text-secondary") toggle" data-field="pinned" title="Toggle Pinned">
            <i class="bi bi-pin-fill"></i>
        </span>
        <span class="input-group-text @(Model.IsPublic? "text-success" : "text-secondary") toggle" data-field="public" title="Toggle Public">
            <i class="bi bi-book-fill"></i>
        </span>
    }
</div>
<div id="editor" class="mb-3">
    <textarea asp-for="Content"></textarea>
</div>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/4jeuqf3mhgytuk82mowljcxt0pbcbem4ivn5xorph63kjcfg/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/js/tinymce-options.js"></script>
    <script>
        function setStatus(saved) {
            var status = $("#status").hasClass("text-success");
            if (status == saved) return;
            if (saved)
                $("#status")
                    .removeClass("text-warning")
                    .addClass('text-success')
                    .empty()
                    .append("<i class='bi bi-check-circle-fill'></i>");
            else
                $("#status")
                    .removeClass("text-success")
                    .addClass('text-warning')
                    .empty()
                    .append("<i class='bi bi-hourglass-split'></i>");
        }
        // Code from https://stackoverflow.com/questions/14042193/how-to-trigger-an-event-in-input-text-after-i-stop-typing-writing
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();
        $(function () {
            $("#Subject").keyup(function () {
                setStatus(false);
                delay(function () {
                    $.ajax({
                        url: "../@Model.Id/subject",
                        method: "put",
                        data: { value: $("#Subject").val() },
                        success: function () {
                            setStatus(true);
                        }
                    });
                }, 1000);
            });
            var options = tinymceOptions.standard("textarea#Content", 600);
            options.setup = editor => {
                editor.on("change input paste undo redo", e => {
                    setStatus(false);
                    delay(function () {
                        $.ajax({
                            url: "../@Model.Id/content",
                            method: "put",
                            data: { value: editor.getContent() },
                            success: function () {
                                setStatus(true);
                            }
                        });
                    }, 1000);
                });
            };
            tinymce.init(options);
            $("#delete").click(function () {
                if (confirm("Are you sure you want to delete this page?"))
                    window.location.href = "../delete/@Model.Id";
            });
            $(".toggle").click(function () {
                var field = $(this).attr("data-field");
                $.ajax({
                    url: "../@Model.Id/" + field,
                    method: "put",
                    data: { value: "toggle" },
                    context: this,
                    success: function () {
                        $(this).toggleClass("text-success").toggleClass("text-secondary");
                    }
                });
            });
        });
    </script>
}