@model SurveyInputModel
@{
    ViewData["Title"] = "New Survey";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Surveys</a></li>
        <li class="breadcrumb-item active">New Survey</li>
    </ol>
</nav>

<form method="post">
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" required>
                <label asp-for="Name"></label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="TimePublished" class="form-control">
                <label asp-for="TimePublished"></label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="TimeClosed" class="form-control">
                <label asp-for="TimeClosed"></label>
            </div>
        </div>
    </div>
    <div class="form-check mb-3">
        <input asp-for="AllowMultipleSubmissions" class="form-check-input" />
        <label asp-for="AllowMultipleSubmissions" class="form-check-label"></label>
    </div>
    <a class="btn btn-secondary me-2" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/4jeuqf3mhgytuk82mowljcxt0pbcbem4ivn5xorph63kjcfg/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/js/tinymce-options.js"></script>
    <script>
        $(function () {
            tinymce.init(tinymceOptions.standard("textarea#Description"));
        });
    </script>
}