@model RubricCriterionInputModel
@{
    ViewData["Title"] = "Edit Criterion";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Rubric" asp-action="Index">Rubrics</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="Rubric" asp-action="View" asp-route-id="@ViewBag.Criterion.RubricId">@ViewBag.Criterion.Rubric.Name</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-route-rubricId="@ViewBag.Criterion.RubricId">Criteria</a>
        </li>
        <li class="breadcrumb-item active">Edit Criterion</li>
    </ol>
</nav>

<form method="post">
    <input type="hidden" asp-for="RubricId" />
    <input type="hidden" asp-for="Index" />
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" required>
        <label asp-for="Name"></label>
    </div>
    <div class="row g-1">
        @for (int i = 0; i < Model.Ratings.Count; ++i)
        {
            <div class="col-10">
                <div class="form-floating mb-1">
                    <input asp-for="Ratings[i].Name" class="form-control" placeholder="Rating" required>
                    <label asp-for="Ratings[i].Name"></label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating mb-1">
                    <input asp-for="Ratings[i].Value" class="form-control" placeholder="Value" required>
                    <label asp-for="Ratings[i].Value"></label>
                </div>
            </div>
            <div class="col-12 mb-3">
                <textarea asp-for="Ratings[i].Description" class="form-control"></textarea>
            </div>
        }
        <div class="col-12">
            <a class="btn btn-secondary me-2" asp-action="Index" asp-route-rubricId="@ViewBag.Criterion.RubricId">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/4jeuqf3mhgytuk82mowljcxt0pbcbem4ivn5xorph63kjcfg/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/js/tinymce-options.js"></script>
    <script>
        $(function () {
            tinymce.init(tinymceOptions.minimal("textarea"));
        });
    </script>
}