@model PersonInputModel
@{
    ViewData["Title"] = "Add Person";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">People</a></li>
        <li class="breadcrumb-item active me-auto">New Person</li>
    </ol>
</nav>

<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="form-floating flex-grow-1">
                    <input asp-for="CampusId" class="form-control" required />
                    <label asp-for="CampusId"></label>
                </div>
                <button id="generateCin" class="btn btn-secondary shadow-none" type="button">Generate</button>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating mb-3">
                <input asp-for="BgTerm" class="form-control" />
                <label asp-for="BgTerm"></label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating mb-3">
                <input asp-for="MgTerm" class="form-control" />
                <label asp-for="MgTerm"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" required />
                <label asp-for="FirstName"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" required />
                <label asp-for="LastName"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="PersonalEmail" class="form-control" />
                <label asp-for="PersonalEmail"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="SchoolEmail" class="form-control" />
                <label asp-for="SchoolEmail"></label>
            </div>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary me-2" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(function() {
            $("#generateCin").click(function() {
                var rnd = Math.floor(Math.random() * (1000000000 - 100000000) + 100000000);
                $("#CampusId").val("G" + rnd);
            });
        });
    </script>
}