@model RubricInputModel
@{
    ViewData["Title"] = "New Rubric";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Rubrics</a></li>
        <li class="breadcrumb-item active">New Rubric</li>
    </ol>
</nav>

<form method="post">
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" required>
                <label asp-for="Name"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="TimePublished" class="form-control">
                <label asp-for="TimePublished"></label>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary me-2" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
