@model ProjectInputModel
@{
    ViewData["Title"] = "New Project";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Projects</a></li>
        <li class="breadcrumb-item active">New Project</li>
    </ol>
</nav>

<form method="post">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="form-floating mb-3">
                <input asp-for="AcademicYear" class="form-control" required>
                <label asp-for="AcademicYear"></label>
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="form-floating mb-3">
                <input asp-for="Sponsor" class="form-control" placeholder="Sponsor">
                <label asp-for="Sponsor"></label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" placeholder="Title" required>
                <label asp-for="Title"></label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-12">
            <a class="btn btn-secondary me-2" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>

@section StyleSheets{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.css"
      integrity="sha512-ngQ4IGzHQ3s/Hh8kMyG4FC74wzitukRMIcTOoKT3EyzFZCILOPF0twiXOQn75eDINUfKBYmzYn2AA8DkAk8veQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.js"
        integrity="sha512-6F1RVfnxCprKJmfulcxxym1Dar5FsT/V2jiEUvABiaEiFWoQ8yHvqRM/Slf0qJKiwin6IDQucjXuolCfCKnaJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/summernote-options.js"></script>
    <script>
        $(function () {
            $("#Description").summernote(summernoteOptions.standard);
        });
    </script>
}