@model MessageInputModel
@{
    ViewData["Title"] = "Email Group";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Group" asp-action="Index">Group</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="Group" asp-action="View" asp-route-id="@ViewBag.Group.Id">
                @ViewBag.Group.Name
            </a>
        </li>
        <li class="breadcrumb-item active">
            Email <span class="badge text-bg-secondary ms-2">Prefer @ViewBag.Group.EmailPreference.ToString() Email</span>
        </li>
    </ol>
</nav>

<form method="post">
    <input asp-for="Subject" class="form-control mb-3" placeholder="Subject" required>
    <textarea asp-for="Content" class="form-control" required></textarea>
    <div class="form-check form-switch my-3">
        <input asp-for="UseBcc" class="form-check-input">
        <label asp-for="UseBcc" class="form-check-label"></label>
    </div>
    <a id="cancel" class="btn btn-secondary me-2" asp-controller="Group" asp-action="View" asp-route-id="@ViewBag.Group.Id">Cancel</a>
    <button id="send" type="button" class="btn btn-primary">Send</button>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/4jeuqf3mhgytuk82mowljcxt0pbcbem4ivn5xorph63kjcfg/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/js/tinymce-options.js"></script>
    <script>
        $(function () {
            tinymce.init(tinymceOptions.minimal("textarea#Content", 400));
            $("#send").click(function () {
                $("#cancel").addClass("disabled");
                $(this).prop("disabled", true);
                $(this).html("<span class='spinner-border spinner-border-sm'></span> Sending");
                $("form").submit();
            });
        });
    </script>
}