@model ProgramInputModel
@{
    ViewData["Title"] = "New Program";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Programs</a></li>
        <li class="breadcrumb-item active">New Program</li>
    </ol>
</nav>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" required>
        <label asp-for="Name"></label>
    </div>
    <input type="hidden" asp-for="HasObjectives" />
    <div class="card mb-3">
        <div class="card-header d-flex align-items-center">
            <span>Program Educational Objectives</span>
            <div class="btn-group ms-auto" role="group">
                <button title="Remove Objective" type="button" class="btn btn-outline-primary btn-sm remove" data-type="Objectives">
                    <i class="bi bi-dash-lg"></i>
                </button>
                <button title="Add Objective" type="button" class="btn btn-outline-primary btn-sm add" data-type="Objectives">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
        <div id="ObjectivesContainer" class="card-body">
            @for (int i = 0; i < Model.Objectives.Count; ++i)
            {
                <textarea asp-for="Objectives[i]" class="form-control mb-2" rows="2"></textarea>
            }
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-flex align-items-center">
            <span>Student Outcomes</span>
            <div class="btn-group ms-auto" role="group">
                <button title="Remove Outcome" type="button" class="btn btn-outline-primary btn-sm remove" data-type="Outcomes">
                    <i class="bi bi-dash-lg"></i>
                </button>
                <button title="Add Outcome" type="button" class="btn btn-outline-primary btn-sm add" data-type="Outcomes">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
        <div id="OutcomesContainer" class="card-body">
            @for (int i = 0; i < Model.Outcomes.Count; ++i)
            {
                <textarea asp-for="Outcomes[i]" class="form-control mb-2" rows="2"></textarea>
            }
        </div>
    </div>
    <a class="btn btn-secondary me-2" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    <script>
        $(function() {
            $(".remove").click(function() {
                var type = $(this).attr("data-type");
                var $container = $("#" + type + "Container");
                $container.children().last().remove();
                if (type == "Objectives" && $container.children().length == 0)
                    $("#HasObjectives").val("False");
            });
            $(".add").click(function() {
                var type = $(this).attr("data-type");
                var $container = $("#" + type + "Container");
                var index = $container.children().length;
                $container.append(`<textarea class="form-control mb-2" row="2" id="${type}_${index}_" name="${type}[${index}]"></textarea>`);
                if (type == "Objectives" && $container.children().length > 0)
                    $("#HasObjectives").val("True");
            });
        });
    </script>
}