@model ProgramInputModel
@{
    ViewData["Title"] = "Edit Program";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Programs</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@ViewBag.Program.Id">@Model.Name</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Program">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" required>
        <label asp-for="Name"></label>
    </div>
    <input type="hidden" asp-for="HasObjectives" />
    <div class="card mb-3">
        <div class="card-header d-flex align-items-center">
            <span>Program Educational Objectives</span>
            <div class="btn-group ms-auto" role="group">
                <button id="removeObjective" title="Remove Objective" type="button" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-dash-lg"></i>
                </button>
                <button id="addObjective" title="Add Objective" type="button" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
        <div id="ObjectivesContainer" class="card-body">
            @for (int i = 0; i < Model.Objectives.Count; ++i)
            {
                <textarea asp-for="Objectives[i]" class="form-control mb-2" rows="2"></textarea>
            }
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Student Outcomes</div>
        <div id="OutcomesContainer" class="card-body">
            @for (int i = 0; i < Model.Outcomes.Count; ++i)
            {
                <textarea asp-for="Outcomes[i]" class="form-control mb-2" rows="2"></textarea>
            }
        </div>
    </div>
    <a class="btn btn-secondary me-2" asp-action="View" asp-route-id="@ViewBag.Program.Id">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts{
    <script>
        $(function () {
            $("#removeObjective").click(function () {
                var $container = $("#ObjectivesContainer");
                $container.children().last().remove();
                if ($container.children().length == 0)
                    $("#HasObjectives").val("False");
            });
            $("#addObjective").click(function () {
                var $container = $("#ObjectivesContainer");
                var index = $container.children().length;
                $container.append(`<textarea class="form-control mb-2" row="2" id="Objectives_${index}_" name="Objectives[${index}]"></textarea>`);
                if ($container.children().length > 0)
                    $("#HasObjectives").val("True");
            });
        });
    </script>
}