{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=ascent;Username=cysun;Password=abcd"
  },
  "OIDC": {
    "Authority": "https://identity.cysun.org",
    "ClientId": "ascent-webapp",
    "ClientSecret": "********"
  },
  "Canvas": {
    "Domain": "https://calstatela.instructure.com",
    "ClientId": "10000000000001",
    "ClientSecret": "********"
  },
  "Email": {
    "Host": "localhost",
    "Port": 25,
    "RequireAuthentication": true,
    "Username": "cysun@localhost.localdomain",
    "Password": "abcd",
    "SenderName": "Ascent Mail",
    "SenderEmail": "ascent@cysun.org"
  },
  "Minio": {
    "Endpoint": "sfo3.digitaloceanspaces.com",
    "AccessKey": "abcd",
    "SecretKey": "1234",
    "Bucket": "test",
    "PathPrefix": "",
    "AttachmentTypes": [ ".zip" ],
    "TextTypes": [ ".java", ".sql", ".jsp", ".txt", ".php" ]
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/Ascent/logs/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}
