@model CourseInputModel
@{
    ViewData["Title"] = "New Course";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Courses</a></li>
        <li class="breadcrumb-item active">New Course</li>
    </ol>
</nav>

<form method="post">
    <div class="row">
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="Subject" class="form-control" required>
                <label asp-for="Subject"></label>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="Number" class="form-control" required>
                <label asp-for="Number"></label>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="MinUnits" class="form-control" required>
                <label asp-for="MinUnits"></label>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="MaxUnits" class="form-control" required>
                <label asp-for="MaxUnits"></label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Title" class="form-control">
        <label asp-for="Title"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="CatalogDescription" class="form-control" style="height: 150px"></textarea>
        <label asp-for="CatalogDescription"></label>
    </div>
    <a class="btn btn-secondary me-2" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Add</button>
</form>