@model CourseInputModel
@{
    ViewData["Title"] = "New Course";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Courses</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@ViewBag.Course.Id">@ViewBag.Course.Code</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Course">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="Subject" class="form-control" required>
                <label asp-for="Subject"></label>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="Number" class="form-control" required>
                <label asp-for="Number"></label>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="MinUnits" class="form-control" required>
                <label asp-for="MinUnits"></label>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="form-floating mb-3">
                <input asp-for="MaxUnits" class="form-control" required>
                <label asp-for="MaxUnits"></label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Title" class="form-control">
        <label asp-for="Title"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="CatalogDescription" class="form-control" style="height: 150px"></textarea>
        <label asp-for="CatalogDescription"></label>
    </div>
    <div class="input-group mb-3">
        <input id="file" name="uploadedFile" type="file" class="form-control">
        <label class="input-group-text" for="file">ABET Syllabus</label>
    </div>
    <a class="btn btn-secondary me-2" asp-action="View" asp-route-id="@ViewBag.Course.Id">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts  {
    <script>
        $(function() {
            $("#delete").click(function() {
                if (confirm("Do you want to delete this course?"))
                    window.location.href = "../delete/@ViewBag.Course.Id";
            });
        });
    </script>
}