@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Canvas";
    var hasCat = (await AuthorizationService.AuthorizeAsync(User, Constants.Policy.HasCat)).Succeeded;
    var disabled = hasCat ? "" : "disabled";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Canvas</li>
    </ol>
</nav>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">Course Templates</div>
            <div class="card-body d-flex flex-column">
                <p class="card-text flex-grow-1">
                    A <em>course template</em> may include a number of pre-defined assignments and rubrics. It is
                    used to quickly create the assignments and rubrics in a Canvas course for assessment purposes.
                </p>
                <div>
                    <a asp-controller="CourseTemplate" asp-action="Index" class="btn btn-primary stretched-link">View</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">Courses</div>
            <div class="card-body d-flex flex-column">
                <p class="card-text">
                    The Canvas courses that you are teaching. For each course, you may create assginments and
                    rubrics using a course template. You may also import assessment results from a Canvas course.
                </p>
                <p>
                    Note that to use this function, you will be redirected to Canvas to authorize this app to
                    access your courses.
                </p>
                <div>
                    <a asp-controller="Course" asp-action="Index" class="btn btn-primary stretched-link @disabled">View</a>
                </div>
            </div>
        </div>
    </div>
</div>