@model GroupInputModel
@{
    ViewData["Title"] = "Edit Group";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Group</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@ViewBag.Group.Id">@ViewBag.Group.Name</a></li>
        <li class="breadcrumb-item active me-auto">Edit</li>
        <li>
            <button id="delete" class="btn btn-outline-danger btn-sm" title="Delete Group">
                <i class="bi bi-trash-fill"></i>
            </button>
        </li>
    </ol>
</nav>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" required>
        <label asp-for="Name"></label>
    </div>
    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 100px"></textarea>
        <label asp-for="Description"></label>
    </div>
    <div class="form-floating mb-3">
        <select asp-for="EmailPreference" asp-items="Html.GetEnumSelectList<EmailPreference>()" class="form-select"></select>
        <label asp-for="EmailPreference"></label>
    </div>
    <a class="btn btn-secondary me-2" asp-action="View" asp-route-id="@ViewBag.Group.Id">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts  {
    <script>
        $(function () {
            $("#delete").click(function () {
                if (confirm("Do you want to delete this group?"))
                    window.location.href = "../delete/@ViewBag.Group.Id";
            });
        });
    </script>
}